<div style="display: flex; justify-content: space-between; align-items: center; padding: 10px 30px;">
    <h2 style="margin: 0;">Bài viết mới nhất</h2>
    <div id="pagination">
        <!-- Nút phân trang sẽ được thêm vào đây -->
    </div>
</div>


<div id="posts-container">
    <!-- Bài viết sẽ được thêm vào đây -->

</div>
<div id="pagination" style="">
    <!-- Nút phân trang sẽ được thêm vào đây -->
</div>

<!-- Pop-up My post -->
<div id="myPostsPopup" class="popup">
    <div class="popup-content" style="height: 600px;">
        <span class="close">&times;</span>
        <h3>Bài viết của tôi</h3>
        <ul id="myPostsList"></ul>
    </div>
</div>

<!-- Popup Post modal -->
<div id="post-modal" class="modal">
    <div class="modal-content">
        <span class="close1">&times;</span>

        <form id="post-form">
            <div class="form-group">
                <input type="text" autocomplete="off" name="text" class="input" placeholder="Tiêu đề bài viết" id="title">
            </div>

            <div class="form-group">
                <label for="content">Nội dung:</label>
                <p>Chúng tôi sẽ chia sẻ quyền chỉnh sửa Docs thông qua email của bạn nhé >< </p>
                        <iframe id="google-docs-iframe" src="" width="100%" height="500px"></iframe>
                        <!-- Loading Overlay -->
                        <div id="loading-overlay" class="hidden loading-overlay">
                            <div class="loader">
                                <div class="wrapper">
                                    <div class="circle"></div>
                                    <div class="line-1"></div>
                                    <div class="line-2"></div>
                                    <div class="line-3"></div>
                                    <div class="line-4"></div>
                                </div>
                            </div>
                        </div>
            </div>

            <div class="form-group">
                <label for="images">Hình ảnh:</label>
                <input type="file" id="images" name="images" multiple>
            </div>

            <button type="submit">Đăng bài</button>
            
        </form>

    </div>
</div>
<!-- Popup Comment -->
<div id="comment-popup" class="hidden">
    <div class="popup-content">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <h3 id="modal-post-title"></h3>

        <p id="modal-post-authorname"><strong>Người đăng:</strong> </p>
       

        <p id="post-content" style="height: 450px;"></p> <!-- Thêm nội dung bài viết -->
        <h3>Bình luận</h3>
        <div id="comments-list"></div>
        <div style="position: sticky;bottom:0;background:white;">
            <textarea id="comment-input" style="height: 50px;" placeholder="Viết bình luận..."></textarea>
            <br>
            <button id="submit-comment">Gửi</button>
        </div>
    </div>
</div>

<script src="/static/js/home.js"></script>
<script>





</script>
<style>

</style>